# Ignore Python cache files
.idea/
__pycache__/
*.py[cod]
*.pyo
# Ignore virtual environment directory
venv/
env/
# Ignore other files and directories
*.log
*.sqlite3
.DS_Store
*.ini
*.pem
*.ts
app/tasks.json
app/tasks.pkl
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
### VS Code ###
.vscode/
### custom
images/
move/