APScheduler==3.10.4
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==4.4.2
ffmpeg==1.4
ffmpeg-python==0.2.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
future==1.0.0
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
importlib_metadata==7.2.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
moviepy==1.0.3
numpy==1.24.4
opencv-python==4.10.0.84
pillow==10.4.0
portalocker==2.10.0
proglog==0.1.10
psutil==6.0.0
PySocks==1.7.1
pytz==2024.1
pywin32==306
requests==2.32.3
Send2Trash==1.8.3
six==1.16.0
soupsieve==2.5
tqdm==4.66.4
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.2
waitress==3.0.0
Werkzeug==3.0.3
zipp==3.19.2
