.uppy-Dashboard-inner {
    background-color: #f8f8f8;
}


/* 저장 완료 메시지 스타일 */
.save-message {
    position: absolute;
    top: 35%;
    right: 47%;
    /*transform: translate(-50%, -50%); !* 중심점 기준으로 이동 *!*/
    background: rgba(0, 128, 0, 0.8);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14pt;
    font-weight: bold;
    display: none;
    z-index: 10;
}