/* css/image.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: auto;
}

.container {
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 100vw;
    text-align: center;
    overflow-x: hidden; /* 가로 스크롤 제거 */
}

/* 뷰포트가 2000px 이상일 때 max-width: 1000px 적용 */
@media (orientation: landscape) {
    .container {
        max-width: 1000px;
    }
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-item {
    margin-bottom: 5px;
    position: relative;
    width: 100%;
    /*display: inline-block;*/
}

.image-item img {
    max-width: 100%;
    max-height: 100vh; /* 이미지 높이를 뷰포트 높이에 맞춤 */
    object-fit: contain; /* 이미지의 비율을 유지하면서 크기를 조정 */
}

.thumbnail {
    height: auto;
    max-height: 100vh;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    object-fit: contain;
}

button {
    width: 100%;
    border: none;
    border-radius: 5px;
    /* background-color: #0056b3; */
    color: white;
    font-size: 20px;
    cursor: pointer;
}

button.delete-button {
    margin: 10px 0px 10px 0px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    cursor: pointer;
}

button.delete-button:hover {
    background-color: #c9302c;
}

/* 최하단 페이징 버튼 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 3px;
    margin-bottom: 10px;
    padding: 20px 14px;
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.pagination a:hover {
    background-color: #007BFF;
}

.pagination a.active {
    background-color: #007BFF;
}

/* back, logout 투명도 */
.top-bar {
    position: fixed;
    opacity: 0.4;
}

/* NextImage */
.floating-button {
    position: fixed;
    z-index: 5;
    bottom: 150px;
    right: 5px;
    padding: 20px;
    cursor: pointer;
    background-color: #007bff;
    opacity: 0.3;
    color: white;
    border: none;
    font-size: 16px;
    max-width: 150px;
    /*height: 50px;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* empty-trash-bin */
.floating-button2 {
    position: fixed;
    z-index: 5;
    top: 70px;
    right: 15px;
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    opacity: 0.3;
    color: white;
    border: none;
    font-size: 16px;
    max-width: 130px;
    /*height: 50px;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.floating-button:hover {
    background-color: #0056b3;
}

/* 드롭다운 메뉴 기본 스타일 */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style-type: none;
    padding: 10px 0;
    min-width: 150px;
}

/* 드롭다운 메뉴 항목 스타일 */
.dropdown-menu li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}

/* 아이콘 스타일 📂 */
.icon {
    margin-right: 10px;
}

/* 최하단으로 이동 (사용하지 않음) */
.scroll-bottom-button {
    top: 50px;
    left: 15px;
    width: 35%;
    position: fixed;
    max-width: 160px;
    z-index: 5;
    margin-top: 20px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    background-color: #008CBA;
    color: white;
    border: none;
}

/* 하단 이전/다음 네비게이터 버튼 */
.pagination-buttons {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    pointer-events: none;
}

.pagination-button {
    background-color: #007BFF;
    color: white;
    border: none;
    opacity: 0.3;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    pointer-events: auto;
}

.pagination-button:hover {
    background-color: #0056b3
}

.prev-button {
    margin-left: 15px;
}

.next-button {
    margin-right: 15px;
}


/* 드롭다운 */
.dropdown-selector {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.dropdown-selector label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    align-self: center;
}

.dropdown-selector select {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 5px 10px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-selector select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.delete-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 48px;         /* 24px → 48px */
    height: 48px;        /* 24px → 48px */
    font-size: 28px;     /* 16px → 더 큼 */
    cursor: pointer;
    z-index: 10;
    transition: background 0.2s;
}

.delete-btn:hover {
    background: red;
}