body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}


form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 0 auto;
}
/* input 태그 */
.input-login {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    padding: 10px;
}

/* flask login 오류 메세지 */
ul {
    padding: 0;
    list-style: none;
    color: red;
}


/* 비밀번호 찾기 주석됨 */
.btn-link {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}

/* 로그인 oauth 버튼 */
.oauth-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #f7f7f7;
    box-shadow: 0 1px 4px rgba(0,0,0,0.07);
    transition: box-shadow 0.2s;
}
.oauth-circle:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}


.h1 {
    margin: 15px 0 0 0;
}
.logo-center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  /* 위쪽부터 정렬 (필요하면 center로 변경) */
}
.login-logo-image {
    width: 30%;
    margin-bottom: 25px;
}