#sync-message, #volume-message {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    display: none;
}
#sync-message {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#volume-message {
    bottom: 50px;
    left: 10px;
}
.video-mirror {
    width: 33.33%;
    height: 100vh;
    object-fit: cover;
}

#videoPlayer {
    position: relative;
}
#videoLeft {
    position: relative;
    z-index: 2;
    left: 65px;
}
#videoRight {
    position: relative;
    z-index: 2;
    right: 65px;
}

#video-filename {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    display: none;
    z-index: 1;
}