<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Post List</title>
<!--    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>-->
    <link rel="stylesheet" href="/static/css/style.css?v={{ version }}">
    <link rel="stylesheet" href="/static/css/post.css?v={{ version }}">
</head>
<body>
<div class="top-bar">
    <div class="logout">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>
    <div class="back">
        <a href="{{ url_for('main.home') }}">Back</a>
    </div>
</div>
<div class="container">
    <div class="post-top-bar">
<!--        <h2>글 목록</h2>-->
        <a href="/posts/create"><button class="new-post-btn">글쓰기</button></a>
    </div>

    <div class="post-list">
        {% for post in posts %}
        <a href="/posts/{{ post.id }}">
            <div class="post-box">
                <div class="thumbnail">
                    <img src='/static/no-image.png'>
                </div>
                <div class="post-info">
                    <div class="post-title">{{ post.title }}</div>
                    <div class="post-meta">{{ post.realname }} &nbsp;|&nbsp; {{ post.updated_at }}</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if page > 1 %}
        <a href="/posts?page=1">&laquo;</a>
        <a href="/posts?page={{ page-1 }}">&lt;</a>
        {% endif %}
        {% for p in range(max(1, page - 2), min(max_page, page + 2) + 1) %}
        <a href="/posts?page={{ p }}" class="{{ 'active' if p == page else '' }}">{{ p }}</a>
        {% endfor %}
        {% if page < max_page %}
        <a href="/posts?page={{ page+1 }}">&gt;</a>
        <a href="/posts?page={{ max_page }}">&raquo;</a>
        {% endif %}
    </div>
</div>
</body>
</html>
