<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Video Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="logout">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <div id="videoContainer">
        <video id="videoPlayer" controls autoplay></video>
        <div id="controls">
            <button id="deleteButton">Delete</button>
            <button id="nextButton">Next</button>
        </div>
    </div>
    
    <script>
        let currentVideo = '';
        let logoutDiv = document.querySelector('.logout');

        document.getElementById('nextButton').removeEventListener('click', getVideo);
        document.getElementById('nextButton').addEventListener('click', getVideo);
        document.getElementById('deleteButton').removeEventListener('click', delVideo);
        document.getElementById('deleteButton').addEventListener('click', delVideo);

        function getVideo() {
            fetch('/videos')
                .then(response => response.json())
                .then(videos => {
                    if (videos.length > 0) {
                        currentVideo = videos[0];
                        document.getElementById('videoPlayer').src = `/video/${encodeURIComponent(currentVideo)}`;
                    } else {
                        alert('No videos found');
                    }
                });
        }

        function delVideo() {
            if (currentVideo) {
                if (confirm("Are you sure?")) {
                    const videoPlayer = document.getElementById('videoPlayer');
                    videoPlayer.pause();
                    videoPlayer.src = '';
                    videoPlayer.load();

                    fetch(`/delete/${encodeURIComponent(currentVideo)}`, {
                        method: 'DELETE'
                    }).then(response => {
                        if (response.status === 204) {
                            alert('Video deleted');
                            currentVideo = '';
                            getVideo();
                        } else {
                            alert('Failed to delete video');
                        }
                    });
                }
            }
        }

        const showControls = () => {
            controls.style.display = 'block';
            logoutDiv.style.display = 'block';
            hideControls();
        };

        videoPlayer.addEventListener('play', showControls);
        videoPlayer.addEventListener('pause', showControls);
        videoPlayer.addEventListener('click', showControls);
        videoPlayer.addEventListener('touchstart', showControls);
        videoPlayer.addEventListener('ended', getVideo);

        let hideControlsTimeout;
        const hideControls = () => {
            clearTimeout(hideControlsTimeout);
            hideControlsTimeout = setTimeout(() => {
                controls.style.display = 'none';
                logoutDiv.style.display = 'none';
            }, 2000);
        };

        videoPlayer.addEventListener('mousemove', showControls);
        videoPlayer.addEventListener('touchmove', showControls);

        function initPage() {
            getVideo();
        }

        document.addEventListener("DOMContentLoaded", initPage)
    </script>
</body>
</html>
