<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/status.css') }}">
</head>
<body>
<div class="container">
    <div class="actions">
        <div class="back">
            <a href="{{ url_for('main.home') }}">Back</a>
        </div>
        <div class="logout">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>
    </div>
    <h2>Task Status</h2>
    <table>
        <thead>
        <tr>
            <th colspan="5">Task Details</th>
        </tr>
        </thead>
        <tbody id="taskTableBody">
        <!-- Dynamic rows will be added by JavaScript -->
        </tbody>
    </table>
</div>
<script>
    function fetchTasks() {
        fetch('{{ url_for("ffmpeg.get_tasks") }}')
            .then(response => response.json())
            .then(data => {
                const tbody = document.getElementById('taskTableBody');
                tbody.innerHTML = '';
                data.forEach(task => {
                    const thumbnailRow = document.createElement('tr');
                    const detailRow = document.createElement('tr');

                    const thumbnailCell = document.createElement('td');
                    thumbnailCell.colSpan = "3";
                    if (task.thumbnail_path) {
                        const img = document.createElement('img');
                        img.src = task.thumbnail_path;
                        img.addEventListener('click', () => {
                            const form = document.createElement('form');
                            form.method = 'POST';
                            form.action = '{{ url_for("video.select_directory") }}';

                            const input = document.createElement('input');
                            input.type = 'hidden';
                            input.name = 'directory';
                            input.value = '0';

                            form.appendChild(input);
                            document.body.appendChild(form);
                            form.submit();
                        });
                        img.className = 'thumbnail';
                        thumbnailCell.appendChild(img);
                    } else {
                        thumbnailCell.textContent = 'N/A';
                    }
                    thumbnailRow.appendChild(thumbnailCell);

                    const actionCell = document.createElement('td');
                    const form = document.createElement('form');
                    form.action = `{{ url_for('ffmpeg.kill_task', pid=0) }}`.replace('0', task.pid);
                    form.method = 'post';
                    const button = document.createElement('button');
                    button.className = 'button';
                    button.textContent = 'Kill';
                    form.appendChild(button);
                    actionCell.appendChild(form);
                    actionCell.colSpan = "2";
                    thumbnailRow.appendChild(actionCell);

                    const pidCell = document.createElement('td');
                    pidCell.textContent = task.pid;
                    const fileNameCell = document.createElement('td');
                    fileNameCell.textContent = task.file_name;
                    fileNameCell.colSpan = '2';
                    const lastModifiedCell = document.createElement('td');
                    lastModifiedCell.colSpan = '2';
                    lastModifiedCell.textContent = task.last_modified_time;
                    detailRow.appendChild(pidCell);
                    detailRow.appendChild(fileNameCell);
                    detailRow.appendChild(lastModifiedCell);

                    tbody.appendChild(thumbnailRow);
                    tbody.appendChild(detailRow);
                });
            });
    }
    setInterval(fetchTasks, 3000); // Refresh every 3 seconds
    document.addEventListener('DOMContentLoaded', fetchTasks);
</script>
</body>
</html>
