<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/directory_select.css') }}">
</head>
<body>
<div class="top-bar">
    <div class="logout">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>
    <div class="back">
        <a href="{{ url_for('main.home') }}">Back</a>
    </div>
</div>
<div class="container">
    <h2>ffmpeg batch</h2>
    <form action="{{ url_for('ffmpeg.run_batch') }}" method="post" onsubmit="return valid()">
        <input type="text" id="clipboard_input" name="keyword" placeholder="Enter keyword" class="input-size" autocomplete="off">
        <input type="hidden" id="hidden_input" name="clipboard_content" placeholder="Enter keyword" class="input-size">
<!--        <button type="button" onclick="pasteFromClipboard()" class="input-button-size">Paste from Clipboard</button>-->
        <button type="submit" class="input-button-size">Run Batch</button>
    </form>
</div>
<script>
    function pasteFromClipboard() {
        if (navigator.clipboard && navigator.clipboard.readText) {
            navigator.clipboard.readText()
                .then(text => {
                    if (text) {
                        document.getElementById('hidden_input').value = text;
                    }
                })
        }
    }

    function valid() {
        const content = document.getElementById('hidden_input').value
        const input = document.querySelector('#clipboard_input').value
        if (content && input) {
            return true;
        } else {
            alert('The clipboard is empty');
            return false;
        }
    }

    function initPage() {
        pasteFromClipboard()
        document.getElementById('clipboard_input').focus();
    }

    document.addEventListener("DOMContentLoaded", initPage)
</script>
</body>
</html>
