<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css?v={{ version }}">
    <link rel="stylesheet" href="/static/css/image.css?v={{ version }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/common.js?v={{ version }}"></script>
</head>

<body>
<div class="top-bar">
    <div class="logout">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>
    <div class="back">
        <a href="{{ url_for('main.home') }}">Back</a>
    </div>
</div>

{% if dir in ['image', 'image2', 'move'] %}
<button id="empty-bin-button" class="floating-button2">Empty</button>
{% elif dir == 'refine' %}
<button id="shuffle-button" class="floating-button2">Shuffle</button>
<button id="slideshow-btn" class="floating-button2" style="top: 120px">Slide show</button>
{% elif dir in ['temp', 'trip'] %}
<button id="download-zip-btn" class="floating-button2">
    <span class="icon">📂</span> Download
</button>
<ul id="dropdown-menu" class="dropdown-menu">
    <li onclick="downloadThisPage()">Download This Page</li>
    <li onclick="downloadAllFiles()">Download All Files</li>
    <!-- <li>Another Action</li> -->
</ul>
{% else %}
{% endif %}

<div class="pagination-buttons">
    <button class="pagination-button prev-button" id="prevButton">&lt;</button>
    <button class="pagination-button next-button" id="nextButton">&gt;</button>
</div>
<div class="scroll-buttons">
    <button onclick="window.scrollTo({ top: 0, behavior: 'auto' })">⬆</button>
    <button onclick="window.scrollTo({ top: document.body.scrollHeight, behavior: 'auto' })">⬇</button>
</div>

<div class="container" data-user-id="{{ current_user.get_id() }}" data-guestname="{{ config.GUEST_USERNAME }}">
    {% if dir == 'stock' %}
    <div id="progress-bar" style="width:100%; border:1px solid #ccc;">
        <div id="progress-fill" style="width:0; height:25px; background:#4caf50; color:#020202; text-align:center;">
            <span id="progress-text"></span>
        </div>
    </div>
    <div id="progress-status"></div>
    <!-- 드롭다운 리스트 추가 -->
    <div class="dropdown-selector">
        <form id="market-form">
            <label for="market-select">Select Market:</label>
            <select id="market-select" name="market" onchange="location = this.value;">
                <option value="{{ url_for('image.stock-graph-list', market='kospi', page=1) }}" {% if market == 'kospi' %}selected{% endif %}>KOSPI</option>
                <option value="{{ url_for('image.stock-graph-list', market='nasdaq', page=1) }}" {% if market == 'nasdaq' %}selected{% endif %}>NASDAQ</option>
                <option value="{{ url_for('image.stock-graph-list', market='kospil', page=1) }}" {% if market == 'kospil' %}selected{% endif %}>KOSPI_LOW</option>
            </select>
        </form>
    </div>
    {% else %}
    {% endif %}
    {% if selected_dir %}
    <div class="dropdown-selector">
        <form>
            <label for="title-select">Select Title:</label>
            <select id="title-select" name="title" onchange="location = this.value;">
                {% for title in title_list %}
                <option value="{{ url_for('image.image_list', title=title, dir=dir) }}"
                        {% if title == selected_dir %}selected{% endif %}>
                    {{ title }}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>
    {% endif %}

<!--    <form id="delete-form" method="POST" action="{{ url_for('image.delete-images', dir=dir) }}">-->
    <div id="delete-form">
        <input type="hidden" name="page" value="{{ page }}">
        <div class="image-container">
            {% for image in images %}
            <div class="image-item" id="image-{{ loop.index }}">
                {% set video_extensions = ['mp4', 'mov', 'mkv', 'avi'] %}
                {% set image_extensions = ['jpg', 'jpeg', 'png', 'gif', 'bmp', 'webp', 'tiff', 'jfif'] %}
                {% set file_extension = image.split('.')[-1].lower() %}

                <input type="hidden" name="images[]" value="{{ image }}">

                {% if file_extension in video_extensions %}
                <!-- 비디오 파일인 경우 -->
                <button class="delete-btn" type="button">×</button>
                <video class="thumbnail"
                       muted playsinline controls loop
                       data-index="{{ loop.index }}"
                       data-poster="{{ url_for('image.get_image', filename=image|to_jpg, dir=dir, selected_dir=selected_dir if selected_dir else None) }}"
                       alt="{{ image|urlencode }}"
                       >
                    <source data-src="/video/temp-video/{{ image|urlencode }}?dir={{ dir }}&selected_dir={{ selected_dir }}"
                            type="video/mp4"
                            data-filename="{{ image|urlencode }}">
                </video>
                <!--<button class="play-btn" onclick="event.preventDefault();">▶</button>-->
                {% elif file_extension in image_extensions %}

                <!-- 이미지 파일인 경우 -->
                {% if dir in ['trip', 'temp', 'refine'] %}
                <button class="delete-btn" type="button">×</button>
                {% endif %}
                <img class="thumbnail {% if dir == 'stock' %}stock-graph{% endif %}"
                     src="{% if loop.index <= 5 %}
                            {{ url_for('image.get_image', market=market, filename=image|urlencode, dir=dir, selected_dir=selected_dir if selected_dir else None) }}
                          {% else %}
                            {{ url_for('static', filename='no-image.png') }}
                          {% endif %}"
                     data-src="{{ url_for('image.get_image', market=market, filename=image|urlencode, dir=dir, selected_dir=selected_dir if selected_dir else None) }}"
                     alt="{{ image|urlencode }}"
                     {% if dir not in ['trip', 'temp', 'refine'] %}
                     onclick="moveImage('{{ image|urlencode }}', {{ loop.index }})"
                     {% endif %}
                     data-index="{{ loop.index }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div>
            total_count : <span id="total_count">{{ images_length }}</span>
        </div>
        <div class="pagination">
            {% if page > 1 %}
            <a href="{{ url_for('image.image_list', market=market, title=title, page=1, dir=dir) }}">&laquo;</a>
            <a href="{{ url_for('image.image_list', market=market, title=title, page=page-1, dir=dir) }}">&lt;</a>
            {% endif %}

            {% for p in range(max(1, page - 2), min(total_pages, page + 2) + 1) %}
            <a href="{{ url_for('image.image_list', market=market, title=title, page=p, dir=dir) }}" class="{{ 'active' if p == page else '' }}">{{ p }}</a>
            {% endfor %}

            {% if page < total_pages %}
            <a href="{{ url_for('image.image_list', market=market, title=title, page=page+1, dir=dir) }}">&gt;</a>
            <a href="{{ url_for('image.image_list', market=market, title=title, page=total_pages, dir=dir) }}">&raquo;</a>
            {% endif %}
        </div>
        {% if images_length != 0 and dir in ['image', 'image2', 'move'] %}
        <button type="button" class="delete-button">Delete</button>
        {% endif %}
    </div>
</div>

{% if images_length != 0 and dir in ['trip', 'temp']%}
<button id="previous-image-button" class="floating-button-left">Previous</button>
{% endif %}
<button id="next-image-button" class="floating-button-right">Next</button>

<script src="/static/js/image.js?v={{ version }}"></script>
<script>
    const dir = '{{ dir }}',
          page = "{{ page }}",
          currentUserName = '{{ current_user.get_id() }}',
          guestName = '{{ config.GUEST_USERNAME }}',
          stock_name = `{{ market }}`,
          progressBar = document.getElementById('progress-bar'),
          progressStatus = document.getElementById('progress-status');



    function clickCenterImage() {
        const centerImage = getCenterImage();
        // console.log('center', centerImage)
        if (centerImage) {
            let filename;
            let index;
            const imgTag = centerImage.querySelector('img');
            if (imgTag) {
                filename = imgTag.getAttribute('alt');
                index = imgTag.getAttribute('data-index');
            } else {
                const videoTag = centerImage.querySelector('video');
                filename = videoTag.getAttribute('alt');
                index = videoTag.getAttribute('data-index');
            }
            if (filename && index) {
                moveImage(filename, index);
            }
        }
    }

    function moveImage(filename, index) {
        // console.log('filename', filename);
        if (dir === 'stock') return;

        // console.log(filename, index)
        fetch(`/image/move-image`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                imagepath: dir,
                subpath: titleText,
                filename: filename
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const imageElement = document.getElementById(`image-${index}`);
                    const nextImageElement = imageElement?.nextElementSibling;
                    if (imageElement) {
                        imageElement.remove();
                        if (nextImageElement) {
                            nextImageElement.scrollIntoView({ behavior: 'smooth', block: 'center' });
                        }
                    }
                    // const total = document.getElementById('total_count').textContent
                    // document.getElementById('total_count').textContent = Number(total) - 1;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    // 'X' 버튼 이벤트 추가
    document.querySelectorAll('.delete-btn').forEach(btn => {
        btn.addEventListener('click', e => {
            const imageItem = e.target.closest('.image-item');
            if (dir == 'refine') {
                deleteItem(imageItem);
            } else {
                let filename = imageItem.querySelector('.thumbnail')?.alt;
                if (imageItem) {
                    if (!filename) {
                        filename = imageItem.querySelector('source').dataset.filename;
                    }
                    let idx = 0;
                    if (imageItem.hasAttribute("id")) {
                        idx = imageItem.id.split('-')[1]
                    }
                    if (currentUserName === guestName) {
                        if (confirm('Delete the file ?')) {
                            moveImage(filename, idx);
                        }
                    } else {
                        moveImage(filename, idx);
                    }
                }
            }
        });
    });


    // IntersectionObserver를 통해 화면에 video태그가 보이면 실행
    function lazyLoadVideos() {
        const videos = document.querySelectorAll("video.thumbnail");

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                const video = entry.target;
                const source = video.querySelector("source");

                if (entry.isIntersecting) { // 화면에 보이면 실행
                    if (source && source.dataset.src && !source.src) {
                        source.src = source.dataset.src;     // 실제 src 할당
                        source.removeAttribute('data-src');
                        if (video.dataset.poster) video.poster = video.dataset.poster; // 썸네일 이미지 세팅
                        attachTapOnly(video, { autoPlay: true });
                    }
                    safePlay(video, { autoPlay: true, fromStart: true });

                    // observer.unobserve(video); // 한 번 로딩되면 더 이상 감시 안 함, 주석 처리하여 다시 뷰포트로 들어오면 이벤트 동작하도록 함
                } else { // 화면 이탈
                    safePause(video);
                }
            });
        }, {
            rootMargin: "0px 0px 300px 0px",  // 약간 미리 로드 (실제 화면에 들어오기 300px 전에 미리 감지 → 미리 로드 가능)
            threshold: 0.1 // 요소가 10% 보일 때 트리거
        });

        videos.forEach(video => observer.observe(video));
    }


    function initPage() {
        // 이미지 클릭 & 다음 버튼 > 다음 이미지를 센터로
        imageItems = document.querySelectorAll('.image-item');
        lazyImages = document.querySelectorAll("img[data-src]");

        if (dir === 'stock' && stock_name !== 'kospil') {
            pollProgress(stock_name);

            imageItems.forEach(item => {
                const img = item.querySelector('.thumbnail');
                img.addEventListener('click', (event) => {
                    if (confirm('Delete the file ?')) {
                        moveStockImage(event);
                    }
                });
            });
        }
        if (stock_name === 'kospil') {
            progressBar.remove();
            progressStatus.remove();
        }

        /*imageItems.forEach(item => {
            const img = item.querySelector('.thumbnail');
            img?.addEventListener('click', () => setNextImage(item));
        });*/

        document.addEventListener('keydown', function(event) {
            switch(event.key) {
                case 'ArrowRight':
                case 'ArrowDown':
                case 'PageDown':
                    event.preventDefault();
                    // nextImage();
                    throttledNextImage();
                    break;
                case 'ArrowLeft':
                case 'ArrowUp':
                case 'PageUp':
                    event.preventDefault();
                    previousImage();
                    break;
                case ' ': case 'Enter':
                    event.preventDefault();
                    if (dir === 'image' || dir === 'image2' || dir === 'move') clickCenterImage();
                    if (dir === 'trip' || dir === 'temp')  playCenterVideo();
                    break;
                case 'Delete':
                    event.preventDefault();
                    if (dir === 'refine') {
                        handelDelBtn();
                    } else if (dir === 'trip' || dir === 'temp') {
                        if (currentUserName === guestName) {
                            if (confirm('Delete the file ?')) {
                                clickCenterImage();
                            }
                        } else {
                            clickCenterImage();
                        }
                    } else {
                        if (confirm('Delete the file ?')) {
                            if (dir === 'stock') {
                                const centerImage = getCenterImage();
                                if (centerImage) {
                                    moveStockImage({ target: centerImage.querySelector('img') }); // 키보드 이벤트로 삭제
                                }
                            } else {
                                // document.querySelector('.delete-button')?.click()
                                deletePage()
                            }
                        }
                    }
                    break;
                default:
                    break;
            }
        });

        emptyBinBtn?.removeEventListener('click', emptyTrash);
        emptyBinBtn?.addEventListener('click', emptyTrash);

        /**************************************************************/

        // 이중요청 방지 + 화면 이벤트 차단 + 로딩 애니메이션
        /*form.addEventListener('submit', (event) => {
            renderOverlay();
            document.getElementById('overlay').style.display = 'block';
            document.body.style.pointerEvents = "none"; // 화면 이벤트 제거
            delBtn.disabled = true;
            delBtn.style.background = 'gray';
        });*/

        /*****************************************************************/


        zipBtn?.addEventListener('click', () => {
            const rect = zipBtn.getBoundingClientRect();
            dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';

            if (dropdownMenu.style.display === 'block') {
                // 기본 위치 설정 (버튼 아래에 표시)
                let dropdownLeft = rect.left + window.scrollX;
                let dropdownTop = rect.bottom + window.scrollY;

                // 화면 너비를 기준으로 드롭다운 메뉴가 우측 화면 밖으로 나가지 않도록 조정
                const viewportWidth = window.innerWidth; // 현재 화면 너비
                const dropdownWidth = dropdownMenu.offsetWidth; // 드롭다운 메뉴의 너비
                if (dropdownLeft + dropdownWidth > viewportWidth) {
                    dropdownLeft = viewportWidth - dropdownWidth - 10;
                }

                // 위치 설정
                dropdownMenu.style.left = `${dropdownLeft}px`;
                dropdownMenu.style.top = `${dropdownTop}px`;
            }
        });

        // 외부 클릭 시 드롭다운 숨기기
        document.addEventListener('click', (event) => {
            if (!zipBtn?.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.style.display = 'none';
            }
        });

        // 뷰에 비디오가 보이면 로드
        lazyLoadVideos();

        shuffleBtn?.removeEventListener('click', shuffleImage);
        shuffleBtn?.addEventListener('click', shuffleImage);
    }

    document.addEventListener("DOMContentLoaded", initPage)
</script>
</body>
</html>
