<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/directory_select.css') }}">
</head>
<body>
<!--
    url_for('blueprint_name.endpoint_function', **params)
-->
<div class="top-bar">
    <div class="logout">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>
</div>
<div class="container">
    <h2>Select Menu</h2>
    {% if current_user.get_id() != config.GUEST_USERNAME %}
<!--    <a href="{{ url_for('main.home') }}">Back</a>-->
    <form action="{{ url_for('video.select_directory') }}" method="post">
        <div class="select-container">
            <select name="directory" id="directory-select" class="styled-select" onchange="this.form.submit()">
                <option value="">Video Directory</option>
                <option value="1" id="btn1">Directory T</option>
                <option value="2" id="btn2">Directory A</option>
                <option value="3" id="btn3">Directory D120</option>
                <option value="4" id="btn4">Directory R120</option>
            </select>
        </div>
    </form>
    {% endif %}
<!--    <form action="{{ url_for('video.select_directory') }}" method="post">-->
        <!--<button type="submit" name="directory" value="1" id="btn1">Directory T</button>
        <button type="submit" name="directory" value="2" id="btn2">Directory A</button>
        <button type="submit" name="directory" value="3" id="btn3">Directory D120</button>
        <button type="submit" name="directory" value="4" id="btn4">Directory R120</button>-->
<!--        <button type="submit" name="directory" value="0">TEST ts</button>-->
        {% if current_user.get_id() != config.GUEST_USERNAME %}
        <a href="{{ url_for('ffmpeg.ffmpeg') }}"><button type="button" id="btn5">FFmpeg Batch</button></a>
        <a href="{{ url_for('ffmpeg.status') }}"><button type="button" id="btn6">Check FFmpeg Status</button></a>
        {% endif %}
        <!--<a href="{{ url_for('image.image_list', dir=IMAGE_DIR) }}"><button type="button" id="btn7">View Images</button></a>
        <a href="{{ url_for('image.image_list', dir=REF_IMAGE_DIR) }}"><button type="button" id="btn8">REF Images</button></a>
        <a href="/image/stock_grahps/kospi"><button type="button" id="btn9">Stocks_Graph</button></a>-->
        <form id="image-select-form">
            <div class="select-container">
<!--                <label for="image-select">Select Image</label>-->
                <select id="image-select" class="styled-select">
                    <option value="">Select Image Dir</option>
                    <option value="{{ url_for('image.trip_image_list', dir=TRIP_IMAGE_DIR) }}">Trip Images</option>
                    <option value="{{ url_for('image.trip_image_list', dir=TEMP_UPLOAD_DIR) }}">Temp Images</option>
                    {% if current_user.get_id() != config.GUEST_USERNAME %}
                    <option value="{{ url_for('image.image_list', dir=IMAGE_DIR) }}">View Images</option>
                    <option value="{{ url_for('image.image_list', dir=REF_IMAGE_DIR) }}">REF Images</option>
                    <option value="/image/stock_grahps/kospi">Stocks Graph</option>
                    {% endif %}
                </select>
            </div>
        </form>
        <a href="{{ url_for('upload.get_file_upload_html') }}"><button type="button" id="btn922">Upload Image</button></a>
<!--    </form>-->
</div>
</body>
<script>
    function keyEvent(event) {
        switch(event.key) {
            case '1':
                // document.getElementById('btn1').click();
                var selectElement = document.getElementById('directory-select');
                selectElement.value = '1';
                selectElement.form.submit();
                break;
            case '2':
                // document.getElementById('btn2').click();
                var selectElement = document.getElementById('directory-select');
                selectElement.value = '2';
                selectElement.form.submit();
                break;
            case '3':
                // document.getElementById('btn3').click();
                var selectElement = document.getElementById('directory-select');
                selectElement.value = '3';
                selectElement.form.submit();
                break;S
            case '4':
                // document.getElementById('btn4').click();
                var selectElement = document.getElementById('directory-select');
                selectElement.value = '4';
                selectElement.form.submit();
                break;
            case '5':
                document.getElementById('btn5').click();
                break;
            case '6':
                document.getElementById('btn6').click();
                break;
            case '7':
                // document.getElementById('btn7').click();
                var selectElement = document.getElementById('image-select');
                selectElement.value = "{{ url_for('image.image_list', dir=IMAGE_DIR) }}";
                selectElement.dispatchEvent(new Event('change')); // change 이벤트 트리거
                break;
            case '8':
                // document.getElementById('btn8').click();
                var selectElement = document.getElementById('image-select');
                selectElement.value = "{{ url_for('image.image_list', dir=REF_IMAGE_DIR) }}";
                selectElement.dispatchEvent(new Event('change')); // change 이벤트 트리거
                break;
            case '9':
                // document.getElementById('btn9').click();
                var selectElement = document.getElementById('image-select');
                selectElement.value = "/image/stock_grahps/kospi";
                selectElement.dispatchEvent(new Event('change')); // change 이벤트 트리거
                break;
            default: break;
        }
    }

    // document.addEventListener('keydown', keyEvent)
    document.getElementById('image-select').addEventListener('change', function() {
        var selectedValue = this.value;
        if (selectedValue) {
            window.location.href = selectedValue; // 선택된 URL로 이동
        }
    });
</script>
</html>
