<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Menu</title>
    <link rel="stylesheet" href="/static/css/style.css?v={{ version }}">
    <link rel="stylesheet" href="/static/css/home.css?v={{ version }}">
    <script src="/static/js/common.js?v={{ version }}"></script>
</head>
<body>
<div class="top-bar">
    <div class="logout">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>
</div>
<div class="container">
    <h2>Select Menu</h2>
    {% if current_user.get_id() == config.SUPER_USERNAME %}
<!--    <a href="{{ url_for('main.home') }}">Back</a>-->

    <form action="/video/select-directory" method="post">
        <select name="directory" id="directory-select" class="select-dropdown" onchange="this.form.submit()">
            <option value="">Video Directory</option>
            <option value="1" id="btn1">Directory T</option>
            <option value="2" id="btn2">Directory A</option>
            <option value="3" id="btn3">Directory D120</option>
            <option value="4" id="btn4">Directory R120</option>
            <option value="5" >Directory NH</option>
            <option value="7" >TO</option>
        </select>
    </form>
    {% endif %}
<!--    <form action="{{ url_for('video.select-directory') }}" method="post">-->
        <!--<button type="submit" name="directory" value="1" id="btn1">Directory T</button>
        <button type="submit" name="directory" value="2" id="btn2">Directory A</button>
        <button type="submit" name="directory" value="3" id="btn3">Directory D120</button>
        <button type="submit" name="directory" value="4" id="btn4">Directory R120</button>-->
<!--        <button type="submit" name="directory" value="0">TEST ts</button>-->
        {% if current_user.get_id() != config.GUEST_USERNAME %}
        <!--<a href="/admin/"><button type="button" id="" class="btn-w100">Admin</button></a>-->
<!--        <a href="{{ url_for('ffmpeg.ffmpeg') }}"><button type="button" id="btn5" class="btn-w100">FFmpeg Batch</button></a>-->
<!--        <a href="{{ url_for('ffmpeg.status') }}"><button type="button" id="btn6" class="btn-w100">Check FFmpeg Status</button></a>-->
        {% endif %}
        <!--<a href="{{ url_for('image.image_list', dir=IMAGE_DIR) }}"><button type="button" id="btn7">View Images</button></a>
        <a href="{{ url_for('image.image_list', dir=REF_IMAGE_DIR) }}"><button type="button" id="btn8">REF Images</button></a>
        <a href="/image/stock-graph-list/kospi"><button type="button" id="btn9">Stocks_Graph</button></a>-->
    <form action="/video/select-directory" method="post">
        <select name="directory" class="select-dropdown" onchange="this.form.submit()">
            <option value="">Video</option>
            <option value="_open" >HAPPY</option>
        </select>
    </form>
    <form id="image-select-form">
        <select id="image-select" class="select-dropdown">
            <option value="">Image</option>
            <option value="{{ url_for('image.image_list', dir=TRIP_IMAGE_DIR) }}">Trip Images</option>
            <option value="/image/stock-graph-list/kospi">Predicted Stock Graphs</option>
            <!--<option value="{{ url_for('image.image_list', dir=TEMP_IMAGE_DIR) }}">Temp Images</option>-->
            {% if current_user.get_id() == config.SUPER_USERNAME %}
            <option value="{{ url_for('image.image_list', dir=IMAGE_DIR) }}">View Images</option>
            <option value="{{ url_for('image.image_list', dir=IMAGE_DIR2) }}">View Images2</option>
            <option value="{{ url_for('image.image_list', dir=MOVE_DIR) }}">Move Image</option>
            <option value="{{ url_for('image.image_list', dir=REF_IMAGE_DIR, firstRequst=True) }}">REF Images</option>
            {% endif %}
        </select>
    </form>
    <a href="{{ url_for('upload.get_file_upload_html') }}"><button type="button" id="btn922" class="btn-w100">Upload File</button></a>
    <a href="/func/stocks/interest/view"><button type="button" id="btn9233" class="btn-w100">Stock</button></a>
    <a href="/posts"><button type="button" id="btn913" class="btn-w100">Post</button></a>
<!--        <a href="{{ url_for('func.get_video_call') }}"><button type="button" id="btn9224" class="btn-w100">Video Call</button></a>-->
    <a href="{{ url_for('func.get_chat_ui') }}" class="chat-btn-wrapper">
        <button type="button" id="btn924" class="btn-w100">Chat</button><span class="unread-badge" style="display: none">5</span>
    </a>
<!--        <a href="{{ url_for('func.memo') }}"><button type="button" id="btn925" class="btn-w100">Memo</button></a>-->
    {# {% if current_user.get_id() != config.GUEST_USERNAME %} #}
    <a href="{{ url_for('func.get_log_viewer') }}"><button type="button" id="btn923" class="btn-w100">Log Viewer</button></a>
    {# {% endif %} #}
    {% if current_user.get_id() != config.GUEST_USERNAME %}
<!--        <button type="button" id="buy-lotto" class="btn-w100">Buy Lotto</button>-->
<!--        <button type="button" id="run-crawl" class="btn-w100">Run Crawl</button>-->
<!--        <button type="button" id="kospi" class="btn-w100">KOSPI</button>-->
<!--        <button type="button" id="nasdaq" class="btn-w100">NASDAQ</button>-->
<!--        <a href="{{ url_for('func.get_hls') }}"><button type="button" id="" class="btn-w100">HLS</button></a>-->
<!--        <a href="/htmltest"><button type="button" id="btn9272" class="btn-w100">TEST</button></a>-->
    {% endif %}
<!--    </form>-->
</div>
</body>

<script>
    const videoOption = document.getElementById("directory-select");
    const imageOption = document.getElementById("image-select");
    // const buyLottoBtn = document.getElementById("buy-lotto");
    // const runCrawlBtn = document.getElementById("run-crawl");
    // const kospiBtn = document.getElementById("kospi");
    // const nasdaqBtn = document.getElementById("nasdaq");

    const username = "{{ username }}";
    const chatBadgeCnt = document.querySelector('.unread-badge');

    function keyEvent(event) {
        switch(event.key) {
            case '1':
                // document.getElementById('btn1').click();
                var selectElement = videoOption;
                selectElement.value = '1';
                selectElement.form.submit();
                break;
            case '2':
                // document.getElementById('btn2').click();
                var selectElement = videoOption;
                selectElement.value = '2';
                selectElement.form.submit();
                break;
            case '3':
                // document.getElementById('btn3').click();
                var selectElement = videoOption;
                selectElement.value = '3';
                selectElement.form.submit();
                break;S
            case '4':
                // document.getElementById('btn4').click();
                var selectElement = videoOption;
                selectElement.value = '4';
                selectElement.form.submit();
                break;
            case '5':
                document.getElementById('btn5').click();
                break;
            case '6':
                document.getElementById('btn6').click();
                break;
            case '7':
                // document.getElementById('btn7').click();
                var selectElement = document.getElementById('image-select');
                selectElement.value = "{{ url_for('image.image_list', dir=IMAGE_DIR) }}";
                selectElement.dispatchEvent(new Event('change')); // change 이벤트 트리거
                break;
            case '8':
                // document.getElementById('btn8').click();
                var selectElement = document.getElementById('image-select');
                selectElement.value = "{{ url_for('image.image_list', dir=REF_IMAGE_DIR) }}";
                selectElement.dispatchEvent(new Event('change')); // change 이벤트 트리거
                break;
            case '9':
                // document.getElementById('btn9').click();
                var selectElement = document.getElementById('image-select');
                selectElement.value = "/image/stock-graph-list/kospi";
                selectElement.dispatchEvent(new Event('change')); // change 이벤트 트리거
                break;
            default: break;
        }
    }

    // document.addEventListener('keydown', keyEvent)
    document.getElementById('image-select').addEventListener('change', function() {
        var selectedValue = this.value;
        renderLoadingOverlay();
        if (selectedValue) {
            window.location.href = selectedValue; // 선택된 URL로 이동
        }
    });

    // 페이지가 보여질 때 발생 (캐시에서 복원 시, 앞, 뒤 이동에도 동작함)
    window.addEventListener("pageshow", function () {
        if (videoOption) videoOption.selectedIndex = 0;
        if (imageOption) imageOption.selectedIndex = 0;
    });

    async function buy_lotto() {
        try {
            renderLoadingOverlay();

            const response = await fetch("/func/buy/lotto-test");
            const result = await response.json();

            if (response.ok) {
                alert(result.message);
            } else {
                alert("요청 실패: 서버 오류");
            }

        } catch (error) {
            alert("오류가 발생했습니다: " + error);
        } finally {
            removeLoadingOverlay();
        }
    }

    async function run_crawl() {
        const response = await fetch("/func/crawl-ai", {method: "GET"});
        const result = await response.json();

        if (response.ok) {
            showDebugToast(result.message);
        } else {
            alert("요청 실패: 서버 오류");
        }
    }

    async function predict_kospi() {
        const response = await fetch("/func/predict-stocks/kospi", {method: "POST"});
        const result = await response.json();

        if (response.ok) {
            showDebugToast(result.message);
        } else {
            alert("요청 실패: 서버 오류");
        }
    }

    async function predict_nasdaq() {
        const response = await fetch("/func/predict-stocks/nasdaq", {method: "POST"});
        const result = await response.json();

        if (response.ok) {
            showDebugToast(result.message);
        } else {
            alert("요청 실패: 서버 오류");
        }
    }

    async function getLastChatId() {
        const response = await fetch('/func/last-chat-id', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        });
        const data = await response.json();
        return data['last_chat_id'];
    }

    async function getLastReadChatId() {
        const response = await fetch('/func/last-read-chat-id?username=' + username, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        });
        const data = await response.json();
        return data['last_read_chat_id'];
    }

    async function checkNewChat() {
        const lastChatId = await getLastChatId();
        const lastReadChatId = await getLastReadChatId();
        const newChatCount = Number(lastChatId) - Number(lastReadChatId);
        if (newChatCount > 0) {
            chatBadgeCnt.textContent = newChatCount;
            chatBadgeCnt.style.display = 'flex';
        } else {
            chatBadgeCnt.style.display = 'none';
        }
    }

    document.addEventListener('visibilitychange', async () => {
        if (!document.hidden) {
            checkNewChat();
        }
    });

    function init() {
        checkNewChat();
        removeLoadingOverlay();

        // if (imageOption.options.length === 2) {
        //     imageOption.addEventListener("click", function () {
        //         const url = imageOption.options[1].value;
        //         if (url) {
        //             window.location.href = url;
        //         }
        //     });
        // }

        // buyLottoBtn?.removeEventListener('click', buy_lotto);
        // buyLottoBtn?.addEventListener('click', buy_lotto);

        // runCrawlBtn?.removeEventListener('click', run_crawl);
        // runCrawlBtn?.addEventListener('click', run_crawl);

        // kospiBtn?.removeEventListener('click', predict_kospi);
        // kospiBtn?.addEventListener('click', predict_kospi);

        // nasdaqBtn?.addEventListener('click', predict_nasdaq);
        // nasdaqBtn?.addEventListener('click', predict_nasdaq);
    }


    document.addEventListener("DOMContentLoaded", init);

    // 뒤로가기/앞으로가기 포함해서 페이지가 표시될 때마다
    window.addEventListener("pageshow", (e) => {
        // e.persisted === true 이면 BFCache 복원으로 돌아온 것
        if (e.persisted) init();
        // BFCache 여부 상관없이 항상 돌리고 싶으면:
        // init();
    });
</script>
</html>
