<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memo</title>
    <link rel="stylesheet" href="/static/css/style.css?v={{ version }}">
    <link rel="stylesheet" href="/static/css/home.css?v={{ version }}">
    <script src="/static/js/common.js?v={{ version }}"></script>
    <style>
        body, html {
            height: 100%;
            overflow: hidden;   /* 페이지 자체 스크롤 막기 */
        }
        .container {
            max-width: 80vw;
            width: 1200px;
            height: 100%;

            display: flex;
            flex-direction: column;
            min-height: 0; /* 플렉스 컨테이너에서 내부 스크롤 허용 */
        }
        #log-container {
            font-size: 12pt;
            font-family: Arial, sans-serif;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
<div class="top-bar">
    <div class="logout">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>
    <div class="back">
        <a href="{{ url_for('main.home') }}">Back</a>
    </div>
</div>

<div class="container">
    <h2>Memo</h2>
    <textarea id="log-container" name="memo_content">{{ content }}</textarea><br>
    <!--<div id="save-message" class="save-message">✔ 저장되었습니다</div>-->
    <!--    <button id="save-memo-button" style="margin-top: 10px; width: 97%" class="" type="submit">저장</button>-->
</div>

<script>
    const saveButton = document.getElementById('save-memo-button'),
          message = document.getElementById("save-message");
    let saveTimeout;

    // saveButton.removeEventListener('click', saveMemo)
    // saveButton.addEventListener('click', saveMemo)

    async function saveMemo() {
        let textarea = document.getElementById("log-container");

        let formData = new FormData();
        formData.append("memo_content", textarea.value);

        try {
            let response = await fetch("/func/memo", {
                method: "POST",
                body: formData
            });

            if (response.ok) {
                // showMessagePopup('✔ 저장되었습니다', 'success');
                showDebugToast('✅ 저장되었습니다')

            } else {
                // showMessagePopup('✖ 저장 실패: 서버 오류', 'fail');
                showDebugToast('❌ 저장 실패: 서버 오류');
            }
        } catch (error) {
            console.error("오류 발생:", error);
            // showMessagePopup('✖ 저장 실패: 네트워크 오류', 'fail');
            showDebugToast('❌ 저장 실패: 네트워크 오류');
        }
    }

    document.getElementById("log-container").addEventListener("input", function() {
        clearTimeout(saveTimeout);  // 기존 타이머 제거 (입력할 때마다 초기화)
        saveTimeout = setTimeout(() => {
            saveMemo();  // 5초 후 자동 저장
        }, 1000);
    });

    document.addEventListener("keydown", function (e) {
        if ((e.ctrlKey || e.metaKey) && e.key.toLowerCase() === "s") {
            e.preventDefault(); // 기본 브라우저 저장 막기
            saveMemo();
        }
    });

    document.addEventListener('visibilitychange', () => {
        if (!document.hidden) {
            fetch("/func/memo", { method: "GET" })
                .then(res => {
                    window.location.href = res.url;
                })
                .catch(err => {
                    console.error("요청 실패:", err);
                });
        }
    });

</script>

</body>
</html>