<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image List</title>
    <link rel="stylesheet" href="/static/css/style.css?v={{ version }}">
    <link rel="stylesheet" href="/static/css/image.css?v={{ version }}">
    <script src="/static/js/common.js?v={{ version }}"></script>
</head>
<body>
<div class="top-bar">
    <div class="logout">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>
    <div class="back">
        <a href="{{ url_for('main.home') }}">Back</a>
    </div>
</div>
<button id="shuffle-button" class="floating-button2">Shuffle</button>
<button id="slideshow-btn" class="floating-button2" style="top: 120px">Slide show</button>
<div class="pagination-buttons">
    <button class="pagination-button prev-button" id="prevButton">&lt;</button>
    <button class="pagination-button next-button" id="nextButton">&gt;</button>
</div>
<div class="scroll-buttons">
    <button onclick="window.scrollTo({ top: 0, behavior: 'auto' })">⬆</button>
    <button onclick="window.scrollTo({ top: document.body.scrollHeight, behavior: 'auto' })">⬇</button>
</div>
<div class="container">
    <div id="delete-form">
        <input type="hidden" name="page" value="{{ page }}">
        <div class="image-container">
            {% for image in images %}
            <div class="image-item" id="image-{{ loop.index }}">
                {% set video_extensions = ['mp4', 'mov', 'mkv', 'avi'] %}
                {% set image_extensions = ['jpg', 'jpeg', 'png', 'gif', 'bmp', 'webp', 'tiff', 'jfif'] %}
                {% set file_extension = image.split('.')[-1].lower() %}

                <input type="hidden" name="images[]" value="{{ image }}">

                {% if file_extension in video_extensions %}
                <!-- 비디오 파일인 경우 -->
                <button class="delete-btn" type="button">×</button>
                <video class="thumbnail"
                       muted playsinline preload="auto" autoplay controls loop
                       data-index="{{ loop.index }}"
                       alt="{{ image }}"
                >
                    <source src="/video/temp-video/{{ image|urlencode }}?dir={{ dir }}&selected_dir={{ selected_dir }}"
                            type="video/mp4"
                            data-filename="{{ image|urlencode }}">
                </video>
                <!--<button class="play-btn" onclick="event.preventDefault();">▶</button>-->
                {% elif file_extension in image_extensions %}
                <!-- 이미지 파일인 경우 -->
                <button class="delete-btn" type="button">×</button>
                <img class="thumbnail"
                     src="{% if loop.index <= 5 %}{{ url_for('image.get_image', filename=image|urlencode, dir=dir) }}{% else %}{{ url_for('static', filename='no-image.png') }}{% endif %}"
                     data-src="{{ url_for('image.get_image', filename=image, dir=dir) }}"
                     alt="{{ image }}"
                     onclick="moveImage('{{ image }}', {{ loop.index }})"
                     data-index="{{ loop.index }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div>
            total_count : {{ images_length }}
        </div>
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('image.image_list', page=1, dir=dir) }}">&laquo;</a>
                <a href="{{ url_for('image.image_list', page=page-1, dir=dir) }}">&lt;</a>
            {% endif %}
            {% for p in range(max(1, page - 2), min(total_pages, page + 2) + 1) %}
                <a href="{{ url_for('image.image_list', page=p, dir=dir) }}" class="{{ 'active' if p == page else '' }}">{{ p }}</a>
            {% endfor %}
            {% if page < total_pages %}
                <a href="{{ url_for('image.image_list', page=page+1, dir=dir) }}">&gt;</a>
                <a href="{{ url_for('image.image_list', page=total_pages, dir=dir) }}">&raquo;</a>
            {% endif %}
        </div>
    </div>
</div>


{% if images_length != 0 %}
    <button id="next-image-button" class="floating-button-right">Next</button>
{% endif %}

<script src="/static/js/image.js?v={{ version }}"></script>
<script>
    function moveImage(event, name, idx) {
        const centerImage = getCenterImage();
        let filename = (event instanceof MouseEvent) ? event.target.alt : centerImage.alt;
        if (name) {
            filename = name;
        }
        fetch(`/image/move-image`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                imagepath: 'ref_image',
                filename: `${decodeURIComponent(filename)}`
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const imageElement = (event instanceof MouseEvent) ? event.target.closest('.image-item') : centerImage.closest('.image-item')
                    const nextImageElement = imageElement?.nextElementSibling;
                    // const imageElement = document.getElementById(`image-${index}`);
                    if (imageElement) {
                        imageElement.remove();
                        if (nextImageElement) {
                            nextImageElement.scrollIntoView({ behavior: 'smooth', block: 'center' });
                        }
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function deleteItem(imageItem) {
        let filename = imageItem.querySelector('.thumbnail')?.alt;
        if (imageItem) {
            if (!filename) {
                filename = imageItem.querySelector('source').dataset.filename;
            }
            let idx = 0;
            if (imageItem.hasAttribute("id")) {
                idx = imageItem.id.split('-')[1]
            }
            moveImage(null, filename, idx);
        }
    }

    function handelDelBtn() {
        const imageItem = getCenterImage();
        deleteItem(imageItem);
    }

    document.querySelectorAll('.delete-btn').forEach(btn => {
        btn.addEventListener('click', e => {
            const imageItem = e.target.closest('.image-item');
            deleteItem(imageItem);
        });
    });


    function showSlideshowModal(imgList) {
        // 모달이 이미 있으면 재활용, 없으면 새로 만듦
        let modal = document.getElementById('slideshow-modal');
        if (!modal) {
            modal = document.createElement('div');
            modal.id = "slideshow-modal";
            modal.style.display = "flex";
            modal.innerHTML = `
            <button class="close-modal" title="닫기" ><i class="fas fa-times" style="color:white"></i></button>
            <img src="" alt="슬라이드" id="slideshow-img">
        `;
            document.body.appendChild(modal);

            // 닫기 버튼 이벤트
            modal.querySelector('.close-modal').onclick = () => {
                clearInterval(slideShowTimer);
                modal.style.display = "none";
            };
        }
        modal.style.display = "flex";
        const imgEl = modal.querySelector("#slideshow-img");

        // 슬라이드 쇼 상태 초기화
        slideShowIdx = 0;
        slideShowImgs = imgList;
        imgEl.src = "https://chickchick.shop/image/images?filename="+encodeURIComponent(imgList[0])+"&dir=refine";

        // 기존 타이머 종료
        if (slideShowTimer) clearInterval(slideShowTimer);

        slideShowTimer = setInterval(() => {
            slideShowIdx = (slideShowIdx + 1) % slideShowImgs.length;
            imgEl.src = "https://chickchick.shop/image/images?filename="+encodeURIComponent(slideShowImgs[slideShowIdx])+"&dir=refine";
        }, 8000);
    }


    // 슬라이드쇼 버튼 클릭 이벤트
    document.getElementById("slideshow-btn").onclick = async function() {
        try {
            const resp = await fetch("/image/pages?slide=y&dir=refine");
            const imgList = await resp.json();  // 서버에서 JSON 배열로 이미지 URL 목록 반환한다고 가정

            if (!Array.isArray(imgList['slide_show_images']) || imgList['slide_show_images'].length === 0) {
                alert("이미지가 없습니다.");
                return;
            }
            showSlideshowModal(imgList['slide_show_images']);
        } catch(e) {
            alert("이미지 목록을 가져오는 데 실패했습니다.");
        }
    };

    function shuffleImage() {
        fetch(`/image/shuffle/ref-images`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                if (data.status === 'success') {
                    window.location.href = "{{ url_for('image.image_list', dir=dir) }}";
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function initPage() {
        // 이미지 클릭 & 다음 버튼 > 다음 이미지를 센터로
        imageItems = document.querySelectorAll('.image-item');
        lazyImages = document.querySelectorAll("img[data-src]");

        imageItems.forEach(item => {
            const img = item.querySelector('.thumbnail');
            img?.addEventListener('click', () => setNextImage(item));
        });

        document.addEventListener('keydown', function(event) {
            switch(event.key) {
                case 'ArrowRight':
                case 'ArrowDown':
                case 'PageDown':
                    event.preventDefault();
                    nextImage();
                    break;
                case 'ArrowLeft':
                case 'ArrowUp':
                case 'PageUp':
                    event.preventDefault();
                    previousImage();
                    break;
                case ' ': case 'Enter':
                    event.preventDefault();
                    break;
                case 'Delete':
                    event.preventDefault();
                    handelDelBtn();
                default: break;
            }
        });

        shuffleBtn.removeEventListener('click', shuffleImage);
        shuffleBtn.addEventListener('click', shuffleImage);
    }

    document.addEventListener("DOMContentLoaded", initPage)
</script>
</body>
</html>
