<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live TS Video Streaming</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body>
<video id="video" controls></video>
<button onclick="loadVideo()">Load Video</button>
<script>
    function loadVideo() {
        var video = document.getElementById('video');
        var hls = new Hls();
        var url = '/video/stream'; // HLS 플레이리스트 파일의 경로

        if (Hls.isSupported()) {
            hls.loadSource(url);
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function() {
                video.play();
            });
        } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = url;
            video.addEventListener('loadedmetadata', function() {
                video.play();
            });
        }
    }

    function initPage() {
    }

    document.addEventListener("DOMContentLoaded", initPage);
</script>
</body>
</html>
