<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <title>Chat UI</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://chickchick.shop:3000/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/static/css/chat2.css?v={{ version }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="container">
    <div class="bg-white p-2 shadow-md rounded-lg w-full h-full text-center overflow-hidden flex flex-col">
        <!-- 채팅 메시지 목록 -->
        <div class="flex-1 overflow-y-auto space-y-2 p-4" id="chat-container">
            {% for log in chat_logs %}
            <div class="message">
                {{ log }}
            </div>
            {% endfor %}
        </div>
        <!-- 입력 영역 -->
        <div class="border-t p-2 bg-white">
            <div class="scroll-wrapper max-h-[120px] overflow-y-auto">
                <textarea id="chat-input" class="w-full h-auto min-h-[60px] resize-none outline-none"></textarea>
            </div>
        </div>
<!--        <div class="flex items-center border-t p-2 bg-white">-->
<!--            &lt;!&ndash;            <button id="camera-button" class="p-2 text-gray-500 hover:text-gray-700 w-[10%] mr-2">📷</button>&ndash;&gt;-->
<!--            <form id="uploadForm" enctype="multipart/form-data">-->
<!--                <input type="hidden" id="title" name="title" value="chat">-->
<!--                <label for="file-input" class="p-2 text-gray-600 cursor-pointer hover:bg-gray-200 w-[auto] mr-2">-->
<!--                    📁-->
<!--                </label>-->
<!--                <input type="file" name="files[]" id="file-input" multiple  class="hidden">-->
<!--            </form>-->
<!--            &lt;!&ndash; box-content: padding이 height에 포함되지 않도록 함 &ndash;&gt;-->
<!--            <textarea type="text" id="chat-input"-->
<!--                      class="p-2 px-3 py-[6px] border rounded-lg focus:outline-none w-[90%] box-content resize-none"-->
<!--                      placeholder="Type a message..."-->
<!--                      data-textarea-auto-resize="5"-->
<!--            >1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n11\n12\n13\n14\n15\n16\n17\n18\n</textarea>-->
<!--            <button id="send-button" class="p-2 text-blue-500 hover:text-blue-700 w-[10%] ml-2">📤</button>-->
<!--        </div>-->
    </div>
</div>

<script>
    const username = "{{ username }}";
    const MAX_FETCH_MESSAGE_SIZE = "{{ maxFetchMessageSize }}";
</script>
<script src="/static/js/chat2.js?v={{ version }}"></script>
</body>
</html>