<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/image.css') }}">
</head>
<body>
<div class="top-bar">
    <div class="logout">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>
    <div class="back">
        <a href="{{ url_for('main.home') }}">Back</a>
    </div>
</div>
<button id="download-zip-btn" class="floating-button2">
    <span class="icon">📂</span> Download
</button>
<ul id="dropdown-menu" class="dropdown-menu">
    <li onclick="downloadThisPage()">Download This Page</li>
    <li onclick="downloadAllFiles()">Download All Files</li>
    <!-- <li>Another Action</li> -->
</ul>
<div class="pagination-buttons">
    <button class="pagination-button prev-button" id="prevButton">&lt;</button>
    <button class="pagination-button next-button" id="nextButton">&gt;</button>
</div>
<div class="container">
    <!-- 드롭다운 리스트 추가 -->
    {% if selected_dir %}
    <div class="dropdown-selector">
        <form>
            <label for="title-select">Select Title:</label>
            <select id="title-select" name="title" onchange="location = this.value;">
                {% for title in title_list %}
                <option value="{{ url_for('image.image_list', title=title, dir=dir) }}"
                        {% if title == selected_dir %}selected{% endif %}>
                    {{ title }}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>
    {% endif %}


    <form id="delete-form" method="POST" action="{{ url_for('image.delete_images') }}">
        <input type="hidden" name="page" value="{{ page }}">
        <div class="image-container">
            <!--{% for image in images %}
            <div class="image-item" id="image-{{ loop.index }}">
                &lt;!&ndash; 처음 5개 이미지만 실제 이미지 로드 &ndash;&gt;
                <img class="thumbnail"
                     src="{% if loop.index <= 5 %}{{ url_for('image.get_image', filename=image, dir=dir) }}{% else %}{{ url_for('static', filename='no-image.png') }}{% endif %}"
                     data-src="{{ url_for('image.get_image', filename=image, dir=dir) }}"
                     alt="{{ image }}"
                     data-index="{{ loop.index }}">
                <input type="hidden" name="images[]" value="{{ image }}">
            </div>
            0
            {% endfor %}-->
            {% for image in images %}
            <div class="image-item" id="image-{{ loop.index }}">
                {% set video_extensions = ['mp4', 'mov', 'mkv', 'avi'] %}
                {% set image_extensions = ['jpg', 'jpeg', 'png', 'gif', 'bmp', 'webp', 'tiff'] %}
                {% set file_extension = image.split('.')[-1].lower() %}

                <input type="hidden" name="images[]" value="{{ image }}">

                {% if file_extension in video_extensions %}
                <!-- 비디오 파일인 경우 -->
                <video class="thumbnail" controls preload="auto">
                    <source src="/video/temp-video/{{ image|urlencode }}?dir={{ dir }}&selected_dir={{ selected_dir }}"
                            type="video/mp4">
                </video>
                {% elif file_extension in image_extensions %}
                <!-- 이미지 파일인 경우 -->
                <img class="thumbnail"
                     src="{% if loop.index <= 5 %}
                            {{ url_for('image.get_image', filename=image, dir=dir, selected_dir=selected_dir if selected_dir else None) }}
                        {% else %}
                            {{ url_for('static', filename='no-image.png') }}
                        {% endif %}"
                     data-src="{{ url_for('image.get_image', filename=image, dir=dir, selected_dir=selected_dir if selected_dir else None) }}"
                     alt="{{ image }}"
                     data-index="{{ loop.index }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div>
            total_count : {{ images_length }}
        </div>
        <div class="pagination">
            {% if page > 1 %}
            <a href="{{ url_for('image.image_list', page=1, title=title, dir=dir) }}">&laquo;</a>
            <a href="{{ url_for('image.image_list', page=page-1, title=title, dir=dir) }}">&lt;</a>
            {% endif %}
            {% for p in range(max(1, page - 2), min(total_pages, page + 2) + 1) %}
            <a href="{{ url_for('image.image_list', page=p, title=title, dir=dir) }}" class="{{ 'active' if p == page else '' }}">{{ p }}</a>
            {% endfor %}
            {% if page < total_pages %}
            <a href="{{ url_for('image.image_list', page=page+1, title=title, dir=dir) }}">&gt;</a>
            <a href="{{ url_for('image.image_list', page=total_pages, title=title, dir=dir) }}">&raquo;</a>
            {% endif %}
        </div>
        {% if current_user.get_id() != config.GUEST_USERNAME %}
        <button type="submit" class="delete-button">Delete</button>
        {% endif %}
    </form>
</div>

{#<button type="button" class="scroll-bottom-button" onclick="scrollToBottom()">Scroll to Bottom</button>#}

<button id="next-image-button" class="floating-button">Next Image</button>

<script>
    let nextImageElement = null,
        loading_size = 8,
        selectedIndex, selectedOption, titleText = undefined,
        pressTimer;

    const nextBtn = document.getElementById('next-image-button'),
        dir = {{ dir|tojson }},
        page = "{{ page }}",
        zipBtn = document.getElementById('download-zip-btn'),
        dropdownMenu = document.getElementById('dropdown-menu'),
        $title = document.getElementById('title-select'),
        longPressDuration = 1000;

    if ($title) {
        selectedOption = $title.options[$title.selectedIndex];
        titleText = selectedOption.text;
    }

    /*******************************************************************/

    function setNextImage(element) {
        nextImageElement = element.nextElementSibling;
    }

    /*function scrollToBottom() {
        let scrollInterval = setInterval(() => {
            window.scrollTo({
                top: document.body.scrollHeight,
                behavior: 'smooth'
            });
            if (isScrolledToBottom()) {
                clearInterval(scrollInterval);
            }
        }, 100);
    }

    function isScrolledToBottom() {
        return (window.innerHeight + window.scrollY) >= document.body.scrollHeight;
    }*/


    // 영역을 몇 초간 클릭하고 있을 때 호출시킬 함수
    const startPress = (event) => {
        // event.preventDefault();

        pressTimer = setTimeout(() => {
            // 파일 삭제
            if (confirm('Are you sure ?')) {
                moveImage(event)
            }
        }, longPressDuration);
    };

    const cancelPress = () => {
        clearTimeout(pressTimer);
    };

    /*function moveImage(filename, index) {
        console.log(filename, index)
        fetch(`/image/move_image/trip_image/${filename}`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const imageElement = document.getElementById(`image-${index}`);
                    if (imageElement) {
                        imageElement.remove();
                        if (nextImageElement) {
                            nextImageElement.scrollIntoView({ behavior: 'smooth', block: 'center' });
                        }
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }*/

    // 화면 중심 좌표의 Element를 반환
    function findCenterImageByCoordinates() {
        const centerX = window.innerWidth / 2;
        const centerY = window.innerHeight / 2;

        // elementFromPoint 좌표 위치의 요소를 가져온다
        const element = document.elementFromPoint(centerX, centerY);

        if (element && element.tagName === 'IMG') {
            return element;
        }

        return 'No image with alt attribute found at the center of the viewport.';
    }

    function moveImage(event) {
        const centerImage = findCenterImageByCoordinates();
        const filename = (event instanceof MouseEvent) ? event.target.alt : centerImage.alt;
        // fetch(`/image/move_image/${dir}/${filename}`, { method: 'POST' })
        fetch(`/image/move_image`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                imagepath: dir === 'temp' ? 'temp_image' : 'trip_image',
                subpath: titleText,
                filename: filename
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const imageElement = (event instanceof MouseEvent) ? event.target.closest('.image-item') : centerImage.closest('.image-item')
                    const nextImageElement = imageElement?.nextElementSibling;
                    // const imageElement = document.getElementById(`image-${index}`);
                    if (imageElement) {
                        imageElement.remove();
                        if (nextImageElement) {
                            nextImageElement.scrollIntoView({ behavior: 'smooth', block: 'center' });
                        }
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function downloadThisPage() {
        const today = new Date();
        const formattedDate = `${today.getFullYear().toString().slice(-2)}${(today.getMonth() + 1).toString().padStart(2, '0')}${today.getDate().toString().padStart(2, '0')}`;
        const titleName = $title.options[$title.selectedIndex].textContent.trim();

        if (!document.getElementById('overlay')) {
            const overlay = document.createElement('div');
            overlay.id = 'overlay';
            overlay.style.display = 'none';
            overlay.innerHTML = '<img src="/static/overlay-loading.svg" alt="Loading...">';
            document.body.appendChild(overlay);
        }

        document.getElementById('overlay').style.display = 'block';
        document.body.style.pointerEvents = "none"; // 화면 이벤트 제거

        // ZIP 파일 요청
        // fetch(`/func/download-zip?dir=${encodeURIComponent(dir)}`, {
        fetch(`/func/download-zip/page?dir=${encodeURIComponent(dir)}&page=${page}&title=${titleName}`, {
            method: 'GET'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.status);
                }

                // 다운로드 처리
                return response.blob();
            })
            .then(blob => {
                document.getElementById('overlay').style.display = 'none';
                document.body.style.pointerEvents = "auto"; // 화면 이벤트 복원

                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = `${formattedDate}_page-${page}_files.zip`; // 파일 이름: 오늘 날짜 + _files.zip
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => {
                document.getElementById('overlay').style.display = 'none';
                document.body.style.pointerEvents = "auto"; // 화면 이벤트 복원
                alert('다운로드 중 문제가 발생했습니다: ' + error.message);
            });

        dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
    }

    function downloadAllFiles() {
        const today = new Date();
        const formattedDate = `${today.getFullYear().toString().slice(-2)}${(today.getMonth() + 1).toString().padStart(2, '0')}${today.getDate().toString().padStart(2, '0')}`;
        const titleName = $title.options[$title.selectedIndex].textContent.trim();

        const url = `/func/download-zip/all?dir=${encodeURIComponent(dir)}&title=${titleName}`;
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = `${formattedDate}_all_files.zip`; // 파일 이름: 오늘 날짜 + _files.zip
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
    }

    // Throttling 적용 - 고의로 성능을 낮춤, 주어진 시간 간격 내에 특정 함수가 최대 한 번만 실행되도록 제한하는 기술
    let throttleTimer;
    const throttle = (callback, time) => {
        if (throttleTimer) return;
        throttleTimer = setTimeout(() => {
            callback();
            throttleTimer = null;
        }, time);
    };

    function initPage() {
        // 이미지 클릭 & 다음 버튼 > 다음 이미지를 센터로
        const imageItems = document.querySelectorAll('.image-item');
        imageItems.forEach(item => {
            const img = item.querySelector('.thumbnail');
            if (img) {
                img.addEventListener('click', () => setNextImage(item));
            }

            // 마우스 이벤트
            item.addEventListener('mousedown', startPress);
            item.addEventListener('mouseup', cancelPress);
            item.addEventListener('mouseleave', cancelPress);

            // 터치 이벤트
            item.addEventListener('touchstart', startPress);
            item.addEventListener('touchend', cancelPress);
            item.addEventListener('touchcancel', cancelPress);
        });

        document.addEventListener('keydown', function(event) {
            switch(event.key) {
                case 'ArrowRight':
                case 'ArrowDown':
                case 'PageDown':
                    event.preventDefault();
                    nextImage();
                    break;
                case 'ArrowLeft':
                case 'ArrowUp':
                case 'PageUp':
                    event.preventDefault();
                    previousImage();
                    break;
                case ' ': case 'Enter':
                    event.preventDefault();
                    clickCenterImage();
                    break;
                case 'Delete':
                    event.preventDefault();
                    if (confirm('Are you sure ?')) {
                        document.querySelector('.delete-button')?.click()
                    }
                default: break;
            }
        });

        nextBtn.addEventListener('click', nextImage);
        {#previousBtn.addEventListener('click', previousImage);#}

        // 현재 화면의 세로 중심에 가장 가까운 이미지 요소를 찾는 함수
        function findCenterImageElement() {
            const centerY = window.innerHeight / 2;
            let closestImage = null;
            let minDistance = Infinity;
            imageItems.forEach(item => {
                const rect = item.getBoundingClientRect();
                const itemCenterY = rect.top + rect.height / 2;
                const distance = Math.abs(centerY - itemCenterY);
                if (distance < minDistance) {
                    minDistance = distance;
                    closestImage = item;
                }
            });
            return closestImage;
        }

        // 화면 중앙의 이미지 인덱스 찾기
        function getCenterImageIndex() {
            let centerPosition = window.innerHeight / 2 + window.scrollY;
            let closestIndex = 0;
            let minDistance = Infinity;
            lazyImages.forEach((img, index) => {
                let imgPosition = img.getBoundingClientRect().top + window.scrollY + img.getBoundingClientRect().height / 2;
                let distance = Math.abs(centerPosition - imgPosition);
                if (distance < minDistance) {
                    minDistance = distance;
                    closestIndex = index;
                }
            });
            return closestIndex;
        }

        function nextImage() {
            const centerImage = findCenterImageElement();
            if (centerImage) {
                const nextImage = centerImage.nextElementSibling;
                if (nextImage && nextImage.classList.contains('image-item')) {
                    nextImage.scrollIntoView({ behavior: 'auto', block: 'center' });
                }
            }
        }

        function previousImage() {
            const centerImage = findCenterImageElement();
            if (centerImage) {
                const previousImage = centerImage.previousElementSibling;
                if (previousImage && previousImage.classList.contains('image-item')) {
                    previousImage.scrollIntoView({ behavior: 'auto', block: 'center' });
                }
            }
        }

        function clickCenterImage() {
            const centerImage = findCenterImageElement();
            if (centerImage) {
                const filename = centerImage.querySelector('img').getAttribute('alt');
                const index = centerImage.querySelector('img').getAttribute('data-index');
                if (filename && index) {
                    moveImage(filename, index);
                }
            }
        }

        /**************************************************************/

        const lazyImages = document.querySelectorAll("img[data-src]");
        let initialLoadComplete = false;

        function preloadImage(img) {
            const src = img.getAttribute('data-src');
            if (src && img.src !== src) {
                img.src = src;
                img.removeAttribute('data-src'); // 이미 로드된 이미지는 data-src 속성 제거
            }
        }

        // 주어진 인덱스 기준으로 위 아래 이미지 로드
        function loadImagesAroundIndex(index) {
            let minIndex = Math.max(index - loading_size, 0);
            let maxIndex = Math.min(index + loading_size, lazyImages.length - 1);
            for (let i = minIndex; i <= maxIndex; i++) {
                if (lazyImages[i] && lazyImages[i].hasAttribute('data-src')) {
                    preloadImage(lazyImages[i]);
                }
            }
        }

        // 페이지 로드 직후 중앙 이미지 인덱스 찾기 및 해당 범위 이미지 로드
        function initialImageLoad() {
            if (!initialLoadComplete) {
                let centerIndex = getCenterImageIndex();
                loadImagesAroundIndex(centerIndex);
                initialLoadComplete = true;
            }
        }

        // 페이지 로드 직후 중앙 이미지 인덱스 찾기 및 해당 범위 이미지 로드
        window.onload = initialImageLoad;


        /*****************************************************************/
        // debounce - 동일한 함수 호출이라면 마지막으로 호출한지 지정한 시간이 지났을 경우에만 실행, 중복으로 호출하면 시간은 계속 리셋
        let lastScrollTop = 0;
        let lastScrollTime = Date.now();
        const SCROLL_DELAY = 400;
        const SCROLL_THRESHOLD = 50000;  // px per second

        function debounce(func, delay) {
            let debounceTimer;
            const context = this;
            const args = arguments;
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(() => func.apply(context, args), delay);
        }

        function handleScroll() {
            const currentScrollTop = window.scrollY;
            const currentTime = Date.now();
            const scrollDelta = Math.abs(currentScrollTop - lastScrollTop);
            const timeDelta = currentTime - lastScrollTime;
            const scrollSpeed = scrollDelta / (timeDelta / 1000);
            /*if (scrollSpeed> 10000) {
                console.log('scrollSpeed', scrollSpeed);
            }*/

            if (scrollSpeed < SCROLL_THRESHOLD) {
                let centerImageIndex = getCenterImageIndex();
                loadImagesAroundIndex(centerImageIndex);
            }

            lastScrollTop = currentScrollTop;
            lastScrollTime = currentTime;
        }

        /*****************************************************************/

        window.addEventListener('scroll', () => {
            if (!initialLoadComplete) return; // 초기 로드가 완료되지 않았으면 실행하지 않음

            debounce(handleScroll, SCROLL_DELAY)

            throttle(() => {
                debounce(handleScroll, SCROLL_DELAY) // 디바운스 적용, 스크롤이 빠르면 이미지를 로딩하지 않는다
                /*let centerImageIndex = findCenterImage();
                loadImagesAroundIndex(centerImageIndex);*/
            }, 100);
        });

        document.getElementById("prevButton").addEventListener("click", () => {
            if (page > 1) {
                const previousBtn = document.querySelector('.pagination').children[1]
                previousBtn.click();
            }
        });

        document.getElementById("nextButton").addEventListener("click", () => {
            const btnCount = document.querySelector('.pagination').childElementCount
            const nextBtn = document.querySelector('.pagination').children[btnCount - 2];
            if (nextBtn.textContent === '>') {
                nextBtn.click();
            }
        });

        zipBtn.addEventListener('click', () => {
            const rect = zipBtn.getBoundingClientRect();
            dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';

            if (dropdownMenu.style.display === 'block') {
                // 기본 위치 설정 (버튼 아래에 표시)
                let dropdownLeft = rect.left + window.scrollX;
                let dropdownTop = rect.bottom + window.scrollY;

                // 화면 너비를 기준으로 드롭다운 메뉴가 우측 화면 밖으로 나가지 않도록 조정
                const viewportWidth = window.innerWidth; // 현재 화면 너비
                const dropdownWidth = dropdownMenu.offsetWidth; // 드롭다운 메뉴의 너비
                if (dropdownLeft + dropdownWidth > viewportWidth) {
                    dropdownLeft = viewportWidth - dropdownWidth - 10;
                }

                // 위치 설정
                dropdownMenu.style.left = `${dropdownLeft}px`;
                dropdownMenu.style.top = `${dropdownTop}px`;
            }
        });

        // 외부 클릭 시 드롭다운 숨기기
        document.addEventListener('click', (event) => {
            if (!zipBtn.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.style.display = 'none';
            }
        });
    }


    document.addEventListener("DOMContentLoaded", initPage)
</script>
</body>
</html>
