<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css?v={{ version }}">
    <link rel="stylesheet" href="/static/css/image.css?v={{ version }}">
    <script src="/static/js/common.js?v={{ version }}"></script>
</head>

<body>
<div class="top-bar">
    <div class="logout">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>
    <div class="back">
        <a href="{{ url_for('main.home') }}">Back</a>
    </div>
</div>
<button id="download-zip-btn" class="floating-button2">
    <span class="icon">📂</span> Download
</button>
<ul id="dropdown-menu" class="dropdown-menu">
    <li onclick="downloadThisPage()">Download This Page</li>
    <li onclick="downloadAllFiles()">Download All Files</li>
    <!-- <li>Another Action</li> -->
</ul>
<div class="pagination-buttons">
    <button class="pagination-button prev-button" id="prevButton">&lt;</button>
    <button class="pagination-button next-button" id="nextButton">&gt;</button>
</div>
<div class="scroll-buttons">
    <button onclick="window.scrollTo({ top: 0, behavior: 'auto' })">⬆</button>
    <button onclick="window.scrollTo({ top: document.body.scrollHeight, behavior: 'auto' })">⬇</button>
</div>
<div class="container" data-user-id="{{ current_user.get_id() }}" data-guestname="{{ config.GUEST_USERNAME }}">
    <!-- 드롭다운 리스트 추가 -->
    {% if selected_dir %}
    <div class="dropdown-selector">
        <form>
            <label for="title-select">Select Title:</label>
            <select id="title-select" name="title" onchange="location = this.value;">
                {% for title in title_list %}
                <option value="{{ url_for('image.image_list', title=title, dir=dir) }}"
                        {% if title == selected_dir %}selected{% endif %}>
                    {{ title }}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>
    {% endif %}


    <form id="delete-form" method="POST" action="{{ url_for('image.delete-images') }}">
        <input type="hidden" name="page" value="{{ page }}">
        <div class="image-container">
            <!--{% for image in images %}
            <div class="image-item" id="image-{{ loop.index }}">
                &lt;!&ndash; 처음 5개 이미지만 실제 이미지 로드 &ndash;&gt;
                <img class="thumbnail"
                     src="{% if loop.index <= 5 %}{{ url_for('image.get_image', filename=image, dir=dir) }}{% else %}{{ url_for('static', filename='no-image.png') }}{% endif %}"
                     data-src="{{ url_for('image.get_image', filename=image, dir=dir) }}"
                     alt="{{ image }}"
                     data-index="{{ loop.index }}">
                <input type="hidden" name="images[]" value="{{ image }}">
            </div>
            0
            {% endfor %}-->
            {% for image in images %}
            <div class="image-item" id="image-{{ loop.index }}">
                {% set video_extensions = ['mp4', 'mov', 'mkv', 'avi'] %}
                {% set image_extensions = ['jpg', 'jpeg', 'png', 'gif', 'bmp', 'webp', 'tiff', 'jfif'] %}
                {% set file_extension = image.split('.')[-1].lower() %}

                <input type="hidden" name="images[]" value="{{ image }}">

                {% if file_extension in video_extensions %}
                <button class="delete-btn" type="button">×</button>
                <video class="thumbnail"
                       muted playsinline preload="metadata"
                       data-index="{{ loop.index }}"
                       data-poster="{{ url_for('image.get_image', filename=image|to_jpg, dir=dir, selected_dir=selected_dir if selected_dir else None) }}">
                    <source data-src="/video/temp-video/{{ image|urlencode }}?dir={{ dir }}&selected_dir={{ selected_dir }}"
                            type="video/mp4"
                    data-filename="{{ image|urlencode }}">
                </video>
                <!--<button class="play-btn" onclick="event.preventDefault();">▶</button>-->

                {% elif file_extension in image_extensions %}
                <button class="delete-btn" type="button">×</button>

                <!-- 이미지 파일인 경우 -->
                <img class="thumbnail"
                     src="{% if loop.index <= 5 %}
                            {{ url_for('image.get_image', filename=image, dir=dir, selected_dir=selected_dir if selected_dir else None) }}
                        {% else %}
                            {{ url_for('static', filename='no-image.png') }}
                        {% endif %}"
                     data-src="{{ url_for('image.get_image', filename=image, dir=dir, selected_dir=selected_dir if selected_dir else None) }}"
                     alt="{{ image }}"
                     data-index="{{ loop.index }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div>
            total_count : {{ images_length }}
        </div>
        <div class="pagination">
            {% if page > 1 %}
            <a href="{{ url_for('image.image_list', page=1, title=title, dir=dir) }}">&laquo;</a>
            <a href="{{ url_for('image.image_list', page=page-1, title=title, dir=dir) }}">&lt;</a>
            {% endif %}
            {% for p in range(max(1, page - 2), min(total_pages, page + 2) + 1) %}
            <a href="{{ url_for('image.image_list', page=p, title=title, dir=dir) }}" class="{{ 'active' if p == page else '' }}">{{ p }}</a>
            {% endfor %}
            {% if page < total_pages %}
            <a href="{{ url_for('image.image_list', page=page+1, title=title, dir=dir) }}">&gt;</a>
            <a href="{{ url_for('image.image_list', page=total_pages, title=title, dir=dir) }}">&raquo;</a>
            {% endif %}
        </div>
        {% if current_user.get_id() != config.GUEST_USERNAME and dir == 'image' %}
        <button type="submit" class="delete-button">Delete</button>
        {% endif %}
    </form>
</div>

<button id="previous-image-button" class="floating-button-left">Previous</button>
<button id="next-image-button" class="floating-button-right">Next</button>

<script src="/static/js/image.js?v={{ version }}"></script>
<script>
    let selectedIndex, selectedOption, titleText = undefined;

    const dir = '{{ dir }}',
          zipBtn = document.getElementById('download-zip-btn'),
          dropdownMenu = document.getElementById('dropdown-menu'),
          $title = document.getElementById('title-select');

    if ($title) {
        selectedOption = $title.options[$title.selectedIndex];
        titleText = selectedOption.text;
    }


    /*******************************************************************/

    // 화면 중심 좌표의 Element를 반환
    function findCenterImageByCoordinates() {
        const centerX = window.innerWidth / 2;
        const centerY = window.innerHeight / 2;

        // elementFromPoint 좌표 위치의 요소를 가져온다
        const element = document.elementFromPoint(centerX, centerY);

        if (element && (element.tagName === 'IMG' || element.tagName === 'VIDEO')) {
            return element;
        }

        return 'No image with alt attribute found at the center of the viewport.';
    }


    function moveImage(event, name, index) {
        const centerImage = getCenterImage(); // 영상 삭제 시 문제 발생하면 findCenterImageByCoordinates 변경 테스트
        let filename = (event instanceof MouseEvent) ? event.target.alt : centerImage.alt;
        if (name) {
            filename = name
        }
        fetch(`/image/move-image`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                imagepath: dir === 'temp' ? 'temp_image' : 'trip_image',
                subpath: titleText,
                filename: `${decodeURIComponent(filename)}`
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    let imageElement;
                    const nextImageElement = imageElement?.nextElementSibling;
                    if (index) {
                        imageElement = document.getElementById(`image-${index}`);
                    } else {
                        imageElement = (event instanceof MouseEvent) ? event.target.closest('.image-item') : centerImage.closest('.image-item')
                    }
                    if (imageElement) {
                        setNextImage(imageElement);
                        imageElement.remove();
                        if (nextImageElement) {
                            nextImageElement.scrollIntoView({ behavior: 'smooth', block: 'center' });
                        }
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function downloadThisPage() {
        const today = new Date();
        const formattedDate = `${today.getFullYear().toString().slice(-2)}${(today.getMonth() + 1).toString().padStart(2, '0')}${today.getDate().toString().padStart(2, '0')}`;
        const titleName = $title.options[$title.selectedIndex].textContent.trim();

        if (!document.getElementById('overlay')) {
            const overlay = document.createElement('div');
            overlay.id = 'overlay';
            overlay.style.display = 'none';
            overlay.innerHTML = '<img src="/static/overlay-loading.svg" alt="Loading...">';
            document.body.appendChild(overlay);
        }

        document.getElementById('overlay').style.display = 'block';
        document.body.style.pointerEvents = "none"; // 화면 이벤트 제거

        // ZIP 파일 요청
        // fetch(`/func/download-zip?dir=${encodeURIComponent(dir)}`, {
        fetch(`/func/download-zip/page?dir=${encodeURIComponent(dir)}&page=${page}&title=${encodeURIComponent(titleName)}`, {
            method: 'GET'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.status);
                }

                // 다운로드 처리
                return response.blob();
            })
            .then(blob => {
                document.getElementById('overlay').style.display = 'none';
                document.body.style.pointerEvents = "auto"; // 화면 이벤트 복원

                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = `${formattedDate}_page-${page}_files.zip`; // 파일 이름: 오늘 날짜 + _files.zip
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => {
                document.getElementById('overlay').style.display = 'none';
                document.body.style.pointerEvents = "auto"; // 화면 이벤트 복원
                alert('다운로드 중 문제가 발생했습니다: ' + error.message);
            });

        dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
    }

    function downloadAllFiles() {
        const today = new Date();
        const formattedDate = `${today.getFullYear().toString().slice(-2)}${(today.getMonth() + 1).toString().padStart(2, '0')}${today.getDate().toString().padStart(2, '0')}`;
        const titleName = $title.options[$title.selectedIndex].textContent.trim();

        const url = `/func/download-zip/all?dir=${encodeURIComponent(dir)}&title=${encodeURIComponent(titleName)}`;
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = `${formattedDate}_all_files.zip`; // 파일 이름: 오늘 날짜 + _files.zip
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
    }

    function initPage() {
        // 이미지 클릭 & 다음 버튼 > 다음 이미지를 센터로
        imageItems = document.querySelectorAll('.image-item');
        lazyImages = document.querySelectorAll("img[data-src]");

        imageItems.forEach(item => {
            const img = item.querySelector('.thumbnail');
            if (img) {
                img.addEventListener('click', () => setNextImage(item));
            }
        });

        document.addEventListener('keydown', function (event) {
            switch (event.key) {
                case 'ArrowRight':
                case 'ArrowDown':
                case 'PageDown':
                    event.preventDefault();
                    nextImage();
                    break;
                case 'ArrowLeft':
                case 'ArrowUp':
                case 'PageUp':
                    event.preventDefault();
                    previousImage();
                    break;
                case ' ':
                case 'Enter':
                    event.preventDefault();
                    playCenterVideo();
                    break;
                case 'Delete':
                    event.preventDefault();
                    /*if (confirm('Delete the file ?')) {
                        // document.querySelector('.delete-button')?.click()
                        moveImage();
                    }*/
                    if (currentUserName === guestName) {
                        if (confirm('Delete the file ?')) {
                            moveImage();
                        }
                    } else {
                        moveImage();
                    }
                default:
                    break;
            }
        });

        nextBtn?.addEventListener('click', nextImage);
        previousBtn?.addEventListener('click', previousImage);



        /*****************************************************************/


        zipBtn.addEventListener('click', () => {
            const rect = zipBtn.getBoundingClientRect();
            dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';

            if (dropdownMenu.style.display === 'block') {
                // 기본 위치 설정 (버튼 아래에 표시)
                let dropdownLeft = rect.left + window.scrollX;
                let dropdownTop = rect.bottom + window.scrollY;

                // 화면 너비를 기준으로 드롭다운 메뉴가 우측 화면 밖으로 나가지 않도록 조정
                const viewportWidth = window.innerWidth; // 현재 화면 너비
                const dropdownWidth = dropdownMenu.offsetWidth; // 드롭다운 메뉴의 너비
                if (dropdownLeft + dropdownWidth > viewportWidth) {
                    dropdownLeft = viewportWidth - dropdownWidth - 10;
                }

                // 위치 설정
                dropdownMenu.style.left = `${dropdownLeft}px`;
                dropdownMenu.style.top = `${dropdownTop}px`;
            }
        });

        // 외부 클릭 시 드롭다운 숨기기
        document.addEventListener('click', (event) => {
            if (!zipBtn.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.style.display = 'none';
            }
        });

        lazyLoadVideos();
    }

    document.querySelectorAll('.delete-btn').forEach(btn => {
        btn.addEventListener('click', e => {
            const imageItem = e.target.closest('.image-item');
            let filename = imageItem.querySelector('.thumbnail')?.alt;
            if (imageItem) {
                if (!filename) {
                    filename = imageItem.querySelector('source').dataset.filename;
                }
                if (currentUserName === guestName) {
                    if (confirm('Delete the file ?')) {
                        moveImage(e, filename);
                    }
                } else {
                    moveImage(e, filename);
                }
            }
        });
    });

    // IntersectionObserver를 통해 화면에 video태그가 보이면 실행
    function lazyLoadVideos() {
        const videos = document.querySelectorAll("video.thumbnail");

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                const video = entry.target;
                const source = video.querySelector("source");

                if (entry.isIntersecting) { // 화면에 보이면 실행
                    if (source && source.dataset.src && !source.src) {
                        source.src = source.dataset.src;     // 실제 src 할당
                        source.removeAttribute('data-src');
                        if (video.dataset.poster) video.poster = video.dataset.poster; // 썸네일 이미지 세팅
                        attachTapOnly(video, { autoPlay: true });
                    }
                    safePlay(video, { autoPlay: true, fromStart: true });

                    // observer.unobserve(video); // 한 번 로딩되면 더 이상 감시 안 함, 주석 처리하여 다시 뷰포트로 들어오면 이벤트 동작하도록 함
                } else { // 화면 이탈
                    safePause(video);
                }
            });
        }, {
            rootMargin: "0px 0px 300px 0px",  // 약간 미리 로드 (실제 화면에 들어오기 300px 전에 미리 감지 → 미리 로드 가능)
            threshold: 0.1 // 요소가 10% 보일 때 트리거
        });

        videos.forEach(video => observer.observe(video));
    }

    document.addEventListener("DOMContentLoaded", initPage)
</script>
</body>
</html>
