<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Second Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/directory_select.css') }}">
</head>
<body>
<div class="container">
    <form method="post">
        <label for="password"><h2>추가 패스워드 입력</h2></label>
        <input type="password" name="password" required class="input-size">
        <button type="submit" class="input-button-size">확인</button>
    </form>
</div>

</body>
</html>