<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Second Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/directory_select.css') }}">
</head>
<body>
<div class="top-bar">
    <div class="logout">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>
    <div class="back">
        <a href="{{ url_for('main.home') }}">Back</a>
    </div>
</div>
<div class="container">
    <form method="post">
        <label for="password"><h4>추가 패스워드 입력</h4></label>
        <input type="password" name="password" required class="input-size"
               autocomplete="off"
               autocorrect="off"
               autocapitalize="off"
               spellcheck="false"
               name="no-autofill"
               id="no-autofill"
               >
        <button type="submit" class="btn-w100">확인</button>
    </form>
</div>

<script>
    document.querySelector('input[name="password"]').focus();
</script>
</body>
</html>