<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <title>Noom</title>
    <!--<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>-->
    <script src="https://chickchick.shop:3000/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://chickchick.shop/static/css/video_call.css?v=4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
{% if windowFlag != 1 %}
<div class="top-bar">
    <div class="logout">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>
    <div class="back">
        <a href="{{ url_for('main.home') }}">Back</a>
    </div>
</div>
{% endif %}
<div class="container">
    <div id="myStream">
        <video id="peerFace" autoplay playsinline muted></video>
        <video id="myFace" autoplay playsinline muted></video>
        <div class="icon-buttons">
            <button id="switchCamera" title="Switch Camera">
                <i id="switchCameraIcon" class="fas fa-sync-alt"></i>
            </button>
            <button id="camera" title="Camera Toggle">
                <i id="cameraIcon" class="fas fa-video"></i>
            </button>
            <button id="peerAudio" title="Peer Audio Toggle">
                <i id="audioIcon" class="fas fa-volume-mute"></i>
            </button>
            <button id="mute" title="Mic Toggle">
                <i id="micIcon" class="fas fa-microphone-slash"></i>
            </button>
        </div>
        <div class="audio-select">
<!--            <select id="audios"></select>--> <!-- 모바일에서는 스피커가 변경되지 않는다 -->
            <select id="microphones"></select>
        </div>
    </div>
</div>
<script>
    const username = "{{ username }}";
</script>
<script src="https://chickchick.shop/static/js/video_call.js?v=16"></script>
</body>
</html>
